$primary: rgb(246, 202, 201);
$theme-colors: (
    "primary": $primary
);

$body-bg: #f0f8ff;

$card-bg: transparent;
$card-border-color: $primary;
$card-border-width: 2px;

$thumbnail-bg: transparent;
$thumbnail-border-width: 0;

$hr-border-color: lightgray;
