<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-155742915-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-155742915-1");
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Save the date for Yuankun and Ryan's wedding in Seattle on August 8, 2020."
    />
    <meta
      property="og:title"
      content="Save the Date for Yuankun and Ryan's Wedding ❤️"
    />
    <meta property="og:site_name" content="yuankunandryan.com" />
    <meta
      property="og:url"
      content="https://www.yuankunandryan.com/save-the-date/"
    />
    <meta
      name="og:description"
      content="Save the date for Yuankun and Ryan's wedding in Seattle on August 8, 2020."
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://www.yuankunandryan.com<%= require('./img/card/katy-perry.jpeg') %>"
    />
    <title>Yuankun and Ryan ❤️</title>
  </head>
  <body>
    <div class="container">
      <div class="header mb-2">
        <nav class="navbar navbar-light bg-primary">
          <a class="navbar-brand mb-0 h1" href="/">
            <img
              src="<%= require('./navbar-logo.png') %>"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt="Yuankun and Ryan"
            />
            Yuankun and Ryan
          </a>
        </nav>
      </div>
      <div class="row">
        <div class="col-md align-self-center">
          <img
            class="img-fluid my-auto rounded"
            width="540"
            height="406"
            src="<%= require('./img/save-the-date/engaged.jpg') %>"
            srcset="<%= require('./img/save-the-date/engaged.jpg') %> 540w,<%= require('./img/save-the-date/engaged@2x.jpg') %> 1080w"
          />
        </div>
        <div class="col-md">
          <div class="jumbotron p-3 bg-primary">
            <h1 class="display-4" style="font-family: cursive">
              Yuankun and Ryan are getting married!
            </h1>
            <p class="lead">
              Join us in Seattle, WA on <em>Saturday, August 8, 2020</em> to
              celebrate.
            </p>
            <hr class="my-2" />
            <p>
              👰🏻🤵More details coming soon. Look out for another text from us 📲
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div style="width: 60%"></div>
        <div>
          <img
            class="d-block my-auto rounded"
            style="transform: rotate(24deg)"
            width="300"
            height="300"
            src="<%= require('./img/save-the-date/stanley-park.jpg') %>"
            srcset="<%= require('./img/save-the-date/stanley-park.jpg') %> 300w,<%= require('./img/save-the-date/stanley-park@2x.jpg') %> 600w"
          />
        </div>
      </div>
    </div>
  </body>
</html>
